<nav class="navbar">
  <div class="navbar-brand">
    <button
      class="navbar-brand btn btn-link"
      type="button"
      data-toggle="tooltip"
      data-placement="right"
      data-title="Willing to see my face? :) Click on it!"
      on:click="{showAvatar}"
    >
      <img
        src="images/avatar.min.webp"
        class="border rounded-circle"
        alt="Avatar"
      />
    </button>
    Victor Nogueira
  </div>
  <div class="navbar-content ml-auto" id="toggleThemeButton">
  </div>
</nav>
