<div class="card">
  <h2 class="card-title">Welcome, traveler!</h2>
  <p>If you're here, you might be wondering a little more about Victor.</p>
  <p>Maybe the following info can give you an overview:</p>
  <ul class="ml-20" style="list-style-type: none">
    <li>
      <slot name="faLinkedin"></slot>
      <span>he's open to new contacts on </span>
      <a href="https://www.linkedin.com/in/victornogueira" target="_blank">
        LinkedIn
      </a>
    </li>
    <li>
      <slot name="faGithub"></slot>
      <span>has released a lot of projects on </span>
      <a href="https://github.com/felladrin" target="_blank"> GitHub </a>
    </li>
    <li>
      <slot name="faTwitter"></slot>
      <span>has shared a bunch of links on </span>
      <a href="https://twitter.com/felladrin" target="_blank"> Twitter </a>
    </li>
    <li>
      <slot name="faStackExchange"></slot>
      <span>has posted some answers on </span>
      <a
        href="https://stackexchange.com/users/1461447/felladrin?tab=accounts"
        target="_blank"
      >
        StackExchange
      </a>
    </li>
    <li>
      <slot name="faYoutube"></slot>
      <span>has uploaded some time lapses to </span>
      <a href="https://www.youtube.com/user/Felladrin/videos" target="_blank">
        Youtube
      </a>
    </li>
    <li>
      <slot name="faItchIo"></slot> <span>has released a dozen games on </span>
      <a href="https://felladrin.itch.io" target="_blank"> Itch.io </a>
    </li>
    <li>
      <slot name="faImdb"></slot> <span>has rated a thousand movies on </span>
      <a
        href="https://www.imdb.com/user/ur36368230/ratings?sort=your_rating,desc&ratingFilter=0&mode=grid&ref_=undefined&lastPosition=0"
        target="_blank"
      >
        IMDB
      </a>
    </li>
    <li>
      <slot name="faPaintBrush"></slot>
      <span>has been sharing AI generated art on </span>
      <a href="https://civitai.com/user/Felladrin" target="_blank"> Civitai </a>
    </li>
  </ul>
  <p>
    <span>Also, he has open-sourced this website, so you can </span>
    <a href="https://github.com/felladrin/felladrin.github.io" target="_blank">
      fork
      <slot name="faExternalLinkAlt"></slot>
    </a>
    <span> and customize it for yourself!</span>
  </p>
</div>
